@media screen and (max-width: 768px) {
    .anim {
        display: none;
    }
    .responsive-welcome {
        padding: 100px 0;
    }
}
@media screen and (max-width: 768px) {
    .ns-v {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .partnesr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 10px;
    }
    .partnesr > .item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 140px;
                flex: 1 1 140px;
    }
    .foollow {
        padding: 60px 20px;
    }
    footer > h1 {
        font-size: 14px;
    }
    .welcome > h1 {
        font-size: 38px;
        line-height: 120%;
    }
    .welcome > p {
        font-size: 16px;
        line-height: 120%;
    }
    .button-a {
        line-height: 100%;
        padding: 0px 20px;
        height: 46px;
    }
    .button-a > p {
        font-size: 14px;
    }
    .instr > p {
        font-size: 14px;
    }
    .responsive-instr {
        padding-top: 60px;
    }
    .responsive-features {
        padding: 60px 0;
    }
    .button-b > p {
        font-size: 14px;
    }
}